@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
* {
    font-family: "Ubuntu", sans-serif;
}

body {
    font: 12pt;
}

button {
    font-size: 12pt;
    padding: 30px;
}

h1 {
    margin: 5px 0 0 5px;
}
 